/* ******************** Global Variables */
:root {
    --color-white: white;
}

/* ********************  */
body {
    background-color: var(--color-white);
    color: #222;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 15px;
}
  
.header-bar {
    background-color: var(--color-white);
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    margin: 8px 22px 8px 22px;
    overflow: hidden;
    width: 90%;
    margin: 0;
    padding: 0;
}

.header-bar > .header-bar__link {
    display: inline-block;
    list-style-type: none;
    transition: all 0.2s; 
}

.header-bar > .header-bar__link > a {
    color: #aaa;
    display: block;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
}

.header-bar > .header-bar__link:hover > a {
    background-color: rgb( 40, 44, 47 );
    color: var(--color-white);
}
